<div class="container">
  <div *ngIf="userRef">
    <h3> User Dashboard</h3>
    <!-- <a routerLink="/detail/1">Test link for detail page</a> -->

    <div *ngFor=" let user of userRef | async ">

      <a routerLink="/detail/{{user.user_id}}">
        <span class="badge" style="color: black;">{{user.user_id }}</span>
      </a> <span> username:{{ user.username }}</span>
      <span> firstname:{{ user.first_name }} </span> <span> lastname:{{ user.last_name}}</span>
      <app-delete-user-button [user]="user"></app-delete-user-button>
    </div>

  </div>

  <div>
    <div *ngFor=" let step of steps  ">
        <div>{{ step.step}}</div>

    </div>

  </div>
</div>