.userinfo {
    background-color: blueviolet;
    border-width: 1em;
    border-radius: 1cm;
    box-shadow: 1em;
    color: aliceblue;
}

.main {
   
        /* background: url("./../../../assets/pexels-aleksandar-pasaric.jpg" ) no-repeat 100%; */
    
}
