<div class="row" style="height:560px; ">

  <div class="col-3" style="width: 100%; height: 100%;">
    <app-dashboard-leftbar></app-dashboard-leftbar>
  </div>
  <!--End of left pannel -->
  <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\         -->

  <div class="col-6 main" style="">

    <div> Welcome! </div>
  </div>




  <!-- <a routerLink="/detail/1">Test link for detail page</a> -->
  <div class="col-3 right-sidebar">
    <div *ngIf="user">
      <div class="row user-icon">
        <!-- <img  src="./../../../assets/user_icon.jpg" height="100" class="img-responsive" alt="user-icon"/> -->
      </div>

      <div class="row userinfo">
        <div class="row m-2">
          <h3>{{user.username | uppercase}} - Details </h3>
          <h4>id {{ user.userId }}</h4>
        </div>

        <div class="row m-2">
          <div class="col-sm-6">
            <h5>Full Name:</h5> {{user.first_name}} {{user.last_name}}
          </div>
        </div>

        <div class="row m-2">
          <div class="col-sm-4">
            <h5>Role:</h5> {{ user.role_id.role }}
          </div>
          <!-- <div class="col-sm-4"> recipe id:{{ user.recipe_id }}</div> -->
        </div>
        <div class="row m-2">

          <!-- <div class="col-sm-4 ">
            <app-delete-user-button [user]="user"></app-delete-user-button>
          </div> -->

        </div>
      </div>

    </div>
  </div>

</div>