<h1>Frequently Asked Questions about Recipelify </h1>

<accordion [isAnimated]="true">
  <accordion-group heading="When will Recipelify be available to the public">
    The Plan for release is September 2021.
  </accordion-group>
  <accordion-group heading="How will the Pro membership work">
    <p>Pro member will have additonal perks and features not availabe to guest and basic account users, like adding a image being an admin of a group and much more that will be explained in the future as we get closer to relese.</p>
  </accordion-group>
  <accordion-group heading="Why cant I save my recipe's?">
    <p>You will have to create an account, it is Free.</p>
  </accordion-group>
  <accordion-group heading="What if my recipe using an ingredient not well known or available">
    <p>You will have the option to add your own custom ingredient, or state a substitution that can be used. </p>
  </accordion-group>
</accordion>
