<body>
  

  <form id="signUp-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h2>- Please Enter Your Email -</h2>
    
    <div class="input-wrap">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="mail@host.com" name="email" ngModel required #email="ngModel">
      <span class="clear">x</span>
    
  <!--added a disabled so you cant press the button unless the form is complete basically info in the two fields-->
  <input type="submit" id="submit" value="Get Password" [disabled]="f.invalid">
  </div>
    </form>
  </body>
  
