<div class="row" style="height:560px;">
    <div class="col-3" style="width: 100%; height: 100%;">
        <app-dashboard-leftbar></app-dashboard-leftbar>
    </div>
    <!--End of left pannel -->
    <div class="col-6 main" style="">

        <div>
            <h2>List of Recipes</h2>
            <div> # Recipe <span> : 4</span></div> 


            <table>
                <th></th>
                <tr>
                    <td> recipe 1</td>
                    <td> Detail 1</td>
                    <td> Detail 2</td>

                </tr>
                <tr>
                    <td> recipe 2</td>
                    <td> Detail 1</td>
                    <td> Detail 2</td>

                </tr>
                <tr>
                    <td> recipe 3</td>
                    <td> Detail 1</td>
                    <td> Detail 2</td>

                </tr>
                <tr>
                    <td> recipe 4</td>
                    <td> Detail 1</td>
                    <td> Detail 2</td>

                </tr>
            </table>
        </div>

       
    </div>

    <div class="col-3 right-sidebar">
            <div class="user-icon">user icon</div>
            <div class="user-name">user name</div>
            <div class="user-description">description</div>
    </div>



</div>