<div class="row" style="height:560px;">
    <div class="col-3" style="width: 100%; height: 100%;">
        <app-dashboard-leftbar></app-dashboard-leftbar>
    </div>
    <!--End of left pannel -->
    <div class="col-6 main" style="">

        <div>
            <h2>List of Recipes</h2>
            <div> # Recipe <span> : 4</span></div> 


            <table>
                <th></th>
                <tr>
                    <td></td>
                    <td>Recipe:</td>
                    <td>About:</td>
                    <td>Category:</td>
                    <td>Inspiration:</td>
                    <td>ingrediants:</td>
                    <td>steps:</td>
                </tr>
     
                <tr *ngFor="let recipe of recipeExtRef | async">
                    <td></td>
                    <td>{{ recipe.name  }}</td>
                    <td>{{recipe.description }}</td>
                    <td>{{recipe.category}}</td>
                    <td>{{ recipe.inspiration }}</td>
                    <!-- <td>{{ recipe.ingrediants}}</td> -->
                    <td> 
                        <div  *ngFor="let ingrediant of recipe.ingrediants ">
                            <ul >
                                <li>{{ ingrediant.ammount}} {{ingrediant.ingrediant}}</li>
                                <!-- <li>{{ ingrediant.ingrediant }}: {{ ingrediant.ammount }}</li> -->
                            </ul>
                    
                        </div>
                    </td>
                    <td> 
                        <div  *ngFor="let step of recipe.steps ">
                            <ul >
                                
                                <li>{{ step.step }}</li>
                            </ul>
                    
                        </div>
                    </td>
                </tr>          
            </table>
        </div>

       
    </div>

    <div class="col-3 right-sidebar">
            <div class="user-icon">user icon</div>
            <div class="user-name">user name</div>
            <div class="user-description">description</div>

            <div class="col-sm-4">
                <app-delete-user-button [user]="user"></app-delete-user-button> </div>
              
    </div>



</div>