
<carousel [pauseOnFocus]="true">
  <slide>
    <img src="assets/cookbook.jfif" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Bring your Family Recipe's to the World</h3>
      <p>Why let your recipes be destoryed from environment damage save them on Recipelify</p>
    </div>
  </slide>
  <slide>
    <img src="assets/witten-recipe.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Did you just whip up a new recipe?</h3>
      <p>Why write it down when you can save them on Recipelify</p>
    </div>
  </slide>
  <slide>
    <img src="assets/African-ingredients.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Have a unique ingredient?</h3>
      <p>Dont worry if your regional ingredient isnt listed you can add a custom one</p>
    </div>
  </slide>
</carousel>
