
<body>
  

<form id="signUp-form">
  <h2>- Sign Up -</h2>
  
  <div class="input-wrap">
    <label for="pseudo">First Name</label>
    <input type="text" id="pseudo" placeholder="Type your first name" required>
    <span class="clear">x</span>
  </div>

  <div class="input-wrap">
    <label for="pseudo">Last name</label>
    <input type="text" id="pseudo" placeholder="Type your last name" required>
    <span class="clear">x</span>
  </div>

  <div class="input-wrap">
    <label for="pseudo">Username</label>
    <input type="text" id="pseudo" placeholder="Type your username" required>
    <span class="clear">x</span>
  </div>
  
  <div class="input-wrap">
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="mail@host.com" required>
    <span class="clear">x</span>
  </div>
  
  <div class="input-wrap">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Type your password" required>
    <span class="clear">x</span>
  </div>

  <div class="input-wrap">
    <label for="password">Confirm Password</label>
    <input type="password" id="password" placeholder="Confirm your password" required>
    <span class="clear">x</span>
  

<input type="submit" id="submit" value="Create Account">
</div>
  </form>
</body>



<button class="floating-btn">
	Get in Touch
</button>
